<h1>Calcule your monthly salary</h1>

<form>
  <label for="country-currency">Currency of your country:</label>
  <select id="country-currency" ng-model="expect.rate">
    <option value="">-- Choose Currency --</option>
    <option ng-repeat="(key, value) in rates" value="{{key}}" ="">{{key}}</option>
  </select>
  <br>
  <label for="company-currency">Currency of your company/contractor:</label>
  <select id="company-currency" ng-model="expect.company">
    <option value="">-- Choose Currency --</option>
    <option ng-repeat="(key, value) in rates" value="{{key}}" ="">{{key}}</option>
  </select>
  <br>
  <label for="salary">What your hourly salary?:</label>
  <input id="salary" type="number" ng-model="expect.salary">
  <br>
  <label for="days">How many days per week do you work?:</label>
  <input id="days" type="number" ng-model="expect.days">
  <br>
  <label for="hours">How many hours per day do you work?:</label>
  <input id="hours" type="number" ng-model="expect.hours">
  <br>
  <button ng-show="!result" ng-click="showResult(expect)">Show Result</button>
  <br>
  <span> Your probably salary is: {{result}}</span>
</form>
